$category-active: #DEDEDE;

.portfolio {
  background-color: $blue;
}

.portfolio .wrapper {
  max-width: 1020px;
  height: 870px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows: 60px 120px 20px 601px 1fr;
}

.portfolio__header {
  grid-area: 2 / 2 / span 1 / span 1;
  display: grid;
  grid-template-rows: 1fr 45px 22px;
}

.portfolio__categories {
  width: 290px;
  height: 20px;
  display: grid;
  grid-template-columns: 28px 10px 79px 10px 95px 10px 58px;
}

.portfolio__category:first-child {
  grid-column: 1 / span 1;
}

.portfolio__category:nth-child(2) {
  grid-column: 3 / span 1;
}

.portfolio__category:nth-child(3) {
  grid-column: 5 / span 1;
}

.portfolio__category:last-child {
  grid-column: 7 / span 1;
}


.portfolio__category {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $text;
  border: 1px solid $text;
  border-radius: 5px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.portfolio__category_active {
  color: $category-active;
  border-color: $category-active;
}

.portfolio__categories-grid {
  grid-area: 4 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 187px);
  gap: 20px;
}

@media screen and (max-width: 1019px) {
  .portfolio .wrapper {
    height: 1102px;
    grid-template-columns: 1fr 700px 1fr;
  }

  .portfolio__categories-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 187px);
    gap: 20px;
  }
}